/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --first: rgb(255, 0, 112);
  --on-first: #000028;
  --bg-preview-image: url("./../images/cover-image-dark.png");
  --theme-btn-color: rgb(255, 0, 112);
  --theme-btn-border-hover-color: rgba(255, 0, 112, 0.4);
  --preview-title-color: #db00ff;
  --preview-title-shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --text-color-bg: #000028;

  --preview-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --preview-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
